<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
		<add name="Conn_Str" connectionString="Data Source=.\sqlexpress;AttachDbFilename=D:\Project\bakersfactory.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
    <add key="AdminLoginID" value="admin"/>
    <add key="AdminPassword" value="123" />

    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true" />
    <add key="UserName" value="manas28092016@gmail.com"/>
    <add key="Password" value="neetarani1." />
    <add key="Port" value="587"/>




  </appSettings>
</configuration>
